In [2]:
import pandas as pd
from sqlalchemy import create_engine
import requests

In [3]:
csv_file = r"C:\Users\micha\Documents\uofa-phx-data-pt-02-2020-u-c\Project 2\Final.csv"
incarceration_data_df = pd.read_csv(csv_file)
incarceration_data_df.head()

,State,Year,Asian Americans and Pacific Islanders,African American Prison Population,Hispanic American Prison Population,Native American Prison Population,White Population,other_race_prison_pop,Unnamed: 8,Location,White,Black,Hispanic,American Indian/Alaska Native,Asian,Native Hawaiian/Other Pacific Islander,Total_Population
0,Alabama,2015,0,15082,0,0,10957,85,NaN,Alabama,3131400,1251500,188000,16300,55300,0,4730100
1,Alaska,2015,0,0,0,0,0,0,NaN,Alaska,435400,22900,47600,98700,49000,2800,707500
2,Arizona,2015,121,5743,16973,2102,16317,541,NaN,Arizona,3714900,264200,2045900,270800,207300,8900,6655100
3,Arkanas,2015,0,0,0,0,0,0,NaN,Arkansas,2106000,446400,204300,18000,39000,6100,2882300
4,California,2015,1600,36682,54045,1102,27675,5911,NaN,California,14503600,2084000,14903200,130000,5405400,138000,38325100

In [4]:
incarceration_data_df = incarceration_data_df[incarceration_data_df['other_race_prison_pop'].isna() == False]

In [5]:
new_incarceration_data_df = incarceration_data_df[['State', 'Year', 'Asian Americans and Pacific Islanders', 'African American Prison Population', 'Hispanic American Prison Population', 'Native American Prison Population', 'White Population', 'other_race_prison_pop', 'White', 'Black', 'Hispanic', 'American Indian/Alaska Native', 'Asian', 'Native Hawaiian/Other Pacific Islander', 'Total_Population']].copy()
new_incarceration_data_df.head()

,State,Year,Asian Americans and Pacific Islanders,African American Prison Population,Hispanic American Prison Population,Native American Prison Population,White Population,other_race_prison_pop,White,Black,Hispanic,American Indian/Alaska Native,Asian,Native Hawaiian/Other Pacific Islander,Total_Population
0,Alabama,2015,0,15082,0,0,10957,85,3131400,1251500,188000,16300,55300,0,4730100
1,Alaska,2015,0,0,0,0,0,0,435400,22900,47600,98700,49000,2800,707500
2,Arizona,2015,121,5743,16973,2102,16317,541,3714900,264200,2045900,270800,207300,8900,6655100
3,Arkanas,2015,0,0,0,0,0,0,2106000,446400,204300,18000,39000,6100,2882300
4,California,2015,1600,36682,54045,1102,27675,5911,14503600,2084000,14903200,130000,5405400,138000,38325100

In [6]:
incarceration_data_df2 = new_incarceration_data_df.rename(columns={"State": "State",
                                                         "Year": "Year",
                                                         "Asian Americans and Pacific Islanders": "Asian_Pacific_Islanders",
                                                         "African American Prison Population": "African_American_P_Pop",
                                                         "Hispanic American Prison Population": "Hispanic_American_P_Pop",
                                                         "Native American Prison Population": "Native_American_P_Pop", 
                                                         "White Population": "White_P_Pop", 
                                                         "White": "White",
                                                         "Black": "Black",
                                                         "Hispanic": "Hispanic",
                                                         "American Indian/Alaska Native": "American_Indian_Alaska_Native",
                                                         "Asian": "Asian",
                                                         "Native Hawaiian/Other Pacific Islander": "Two_or_more_races",
                                                         "Total": "Total_Population",})
incarceration_data_df2.head()

,State,Year,Asian_Pacific_Islanders,African_American_P_Pop,Hispanic_American_P_Pop,Native_American_P_Pop,White_P_Pop,other_race_prison_pop,White,Black,Hispanic,American_Indian_Alaska_Native,Asian,Two_or_more_races,Total_Population
0,Alabama,2015,0,15082,0,0,10957,85,3131400,1251500,188000,16300,55300,0,4730100
1,Alaska,2015,0,0,0,0,0,0,435400,22900,47600,98700,49000,2800,707500
2,Arizona,2015,121,5743,16973,2102,16317,541,3714900,264200,2045900,270800,207300,8900,6655100
3,Arkanas,2015,0,0,0,0,0,0,2106000,446400,204300,18000,39000,6100,2882300
4,California,2015,1600,36682,54045,1102,27675,5911,14503600,2084000,14903200,130000,5405400,138000,38325100

In [7]:
from sqlalchemy import create_engine

connection_string = "postgres:ophellia@localhost:5432/incarceration_DB"
engine = create_engine(f'postgresql://{connection_string}')

In [8]:
incarceration_data_df2.to_sql(name='incarceration', con=engine, if_exists='append', index=False)